<%- include('../../templates/header'); %>

<div class="row mx-0 mb-4 justify-content-between align-items-center">
    <h5 class="font-weight-bold">News Page</h5>
    <div>
        <a class="btn btn-primary px-3" href="/admin/news/postnews">Add News</a>
    </div>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Title</th>
        <th scope="col">Image</th>
        <th scope="col">Content</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% news.forEach((item, idx) => { %>
        <tr>
          <th scope="row"><%= idx + 1 %> </th>
          <td><%= item["title"] %> </td>
          <td><img src="<%= item['image'] %>" alt="<%= item["title"] %> " style="width: 100px"></td>
          <td><%= item["content"] %> <td>
              <a class="btn btn-primary mr-1 mb-1" href="news/edit/<%= item['id_news'] %>">
                  <i class="fas fa-pen"></i>
              </a>
              <a class="btn btn-danger mr-1 mb-1" href="news/delete/<%= item['id_news'] %> ">
                  <i class="fas fa-trash"></i>
              </a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>

<%- include('../../templates/footer'); %>