<%- include('../../templates/header'); %>

<div class="row mx-0 mb-4 justify-content-between align-items-center">
    <h5 class="font-weight-bold">Career Page</h5>
    <div>
        <a class="btn btn-primary px-3" href="/admin/career/postcareer">Add Career</a>
    </div>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Title</th>
        <th scope="col">Qualification</th>
        <th scope="col">Description</th>
        <th scope="col">Due Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% careers.forEach((career, idx) => { %>
      <tr>
        <th scope="row"><%- idx + 1 %></th>
        <td><%- career["title"] %></td>
        <td><%- career["qualification"] %></td>
        <td><%- career["description"] %></td>
        <td><%- new Date(career["duedate"]).toLocaleDateString() %></td>
        <td>
            <a class="btn btn-primary mr-1 mb-1" href="/admin/career/edit/<%- career['id_career'] %>">
                <i class="fas fa-pen"></i>
            </a>
            <a class="btn btn-danger mr-1 mb-1" href="/admin/career/delete/<%- career['id_career'] %>">
                <i class="fas fa-trash"></i>
            </a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>

<%- include('../../templates/footer'); %>