<%- include('../../templates/header'); %>

<div class="row">

<!-- Earnings (Monthly) Card Example -->
<div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Events</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= data["events"] %> </div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Earnings (Monthly) Card Example -->
<div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        News</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= data["news"] %> </div>
                </div>
                <div class="col-auto">
                    <i class="far fa-fw fa-file fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pending Requests Card Example -->
<div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                        Career</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= data["career"] %> </div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-fw fa-bullhorn fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Content Row -->

<div class="row mb-5">

    <div class="col-12">
        <div class="card mb-3 shadow border-0">
            <img src="https://www.pradita.ac.id/assets/img/post/image/developing-nations-potensial__oQG8f.jpg" class="card-img-top" alt="pradita" style="height: 260px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title font-weight-bold">Hallo 👋 Selamat Datang di Adita CMS</h5>
              <p class="card-text">Website ini digunakan untuk mengelola CMS (Content Management System) untuk apilkasi Adita (Chatbot assistant), anda sebagai admin dapat mengelola event, news dan career.</p>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
        </div>
    </div>

</div>
                    
<%- include('../../templates/footer'); %>