<%- include('../../templates/header'); %>

<h5 class="font-weight-bold">Edit Events Page</h5>

<div class="row mb-5">
    <div class="col-md-6">
        <form method="POST" action="/events/updateevent" enctype="multipart/form-data">
            <input type="hidden" value="<%= id_event %> " name="id_event">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title" value="<%= event['title'] %> ">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input class="form-control" type="file" id="image" name="image" value="<%= event['image'] %> ">
            </div>
            <div class="mb-3">
              <label for="schedule" class="form-label">Schedule</label>
              <input type="date" class="form-control" id="schedule" name="schedule">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea class="form-control" id="content" name="content" rows="3"><%= event['content'] %> </textarea>
            </div>
            <button type="submit" class="btn btn-primary d-block w-100">Submit</button>
          </form>
    </div>
</div>

<%- include('../../templates/footer'); %>