<%- include('../../templates/header'); %>

<div class="row mx-0 mb-4 justify-content-between align-items-center">
    <h5 class="font-weight-bold">Events Page</h5>
    <div>
        <a class="btn btn-primary px-3" href="/admin/events/postevent">Post Events</a>
    </div>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Title</th>
        <th scope="col">Image</th>
        <th scope="col">Schedule</th>
        <th scope="col">Content</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% events.forEach((event, idx) => { %>
        <tr>
          <th scope="row"><%= idx + 1 %> </th>
          <td><%= event["title"] %> </td>
          <td><img src="<%= event['image'] %>" alt="<%= event['title'] %>" style="width: 100px"></td>
          <td><%= new Date(event["schedule"]).toLocaleDateString() %> </td>
          <td><%= event["content"] %> </td>
          <td>
              <a class="btn btn-primary mr-1 mb-1" href="/admin/events/edit/<%= event['id_event'] %> ">
                  <i class="fas fa-pen"></i>
              </a>
              <a class="btn btn-danger mr-1 mb-1" href="/admin/events/delete/<%= event['id_event'] %> ">
                  <i class="fas fa-trash"></i>
              </a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>

<%- include('../../templates/footer'); %>